__pycache__/
.pytest_cache/
.venv/
*.pyc
*.egg-info/
build/
dist/

downloads/
logs/

*.log
*.out
*.csv
*.xlsx
*.json

!pyproject.toml
!requirements.txt

video_links.json
video_links_new.json
links.txt

batch_new_progress.json
